[Desktop Entry]
Name=SoftFocusLight
X-KDE-PluginInfo-Author=Hamza Kamal
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=kamal.hamza@outlook.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=SoftFocusLight
X-KDE-PluginInfo-Version=1.0
