[Desktop Entry]
Comment=A soft light theme with carefully balanced colors
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=Soft Light
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Custom Theme
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=Soft-Light
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0

[X-KDE-PluginInfo-EnabledByDefault]
true

[ContainmentActions][desktop][RightButton;NoModifier]
_add panel=true
_context menu=true
_run_command=true
_sep1=false
_sep2=true
_sep3=false
add widgets=true
edit mode=true
manage activities=true
next activity=true
previous activity=true
run associated application=true
stop activity=true

[ContainmentActions][desktop][MidButton;NoModifier]
_add panel=true
_context menu=true
_run_command=true
_sep1=false
_sep2=true
_sep3=false
add widgets=true
edit mode=true
manage activities=true
next activity=true
previous activity=true
run associated application=true
stop activity=true

[Containments][1]
activityId=
formfactor=0
immutability=1
lastScreen=0
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=org.kde.image

[X-Plasma-GlobalTheme-General]
colorScheme=Soft-Light
desktopTheme=Soft-Light
auroraeTheme=Soft-Light
iconTheme=breeze
