{{- $t := index .themes .theme -}}
palette = 0={{ $t.background.bg }}
palette = 1={{ $t.ansi.red }}
palette = 2={{ $t.ansi.green }}
palette = 3={{ $t.ansi.yellow }}
palette = 4={{ $t.ui.highlight }}
palette = 5={{ $t.ansi.magenta }}
palette = 6={{ $t.ansi.cyan }}
palette = 7={{ $t.foreground.fg }}
palette = 8={{ $t.ui.dim }}
palette = 9={{ $t.ansi.bright_red }}
palette = 10={{ $t.ansi.bright_green }}
palette = 11={{ $t.ansi.bright_yellow }}
palette = 12={{ $t.ansi.bright_blue }}
palette = 13={{ $t.ansi.bright_magenta }}
palette = 14={{ $t.ansi.bright_cyan }}
palette = 15={{ $t.foreground.fg_bright }}
background = {{ $t.background.bg }}
foreground = {{ $t.foreground.fg }}
cursor-color = {{ $t.foreground.fg }}
cursor-text = {{ $t.background.bg }}
selection-background = {{ $t.background.bg_hover }}
selection-foreground = {{ $t.foreground.fg_bright }}
