@theme "themes/soft-focus-dark"

configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus";
    display-drun: "Apps";
    display-run: "Run";
    display-window: "Window";
    drun-display-format: "{name}";
    font: "FiraCode Nerd Font Mono";
}
