* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
}

/* The entire bar */
window#waybar {
    background-color: transparent;
}

#clock,
#workspaces,
#battery,
#network {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    padding: 0px 20px; /* Vertical and horizontal padding */
    margin: 0px 5px; /* Margin to create vertical space from bar edge */
}

#workspaces button.active {
    transition: ease-in;
    transition-duration: 0.5s;
    color: #ffffff;
}

#clock,
#battery,
#network {
}
