@import url("{{ .chezmoi.homeDir }}/.cache/wal/colors-waybar.css");

* {
    font-family: 'JetBrainsMono Nerd Font', sans-serif;
    font-size: 13px;
    font-weight: bold;
    border-radius: 10px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces,
#clock,
#temprature,
#network,
#cpu,
#memory,
#battery {
    background-color: transparent;
    padding: 0 15px;
    margin: 0 0 5px;
    color: #ffffff;
}

#workspaces button.active {
    background-color: #000000;
}
