[Desktop Entry]
Name=Soft-Focus-Light
Comment=A light and modern theme for Plasma 5
X-KDE-PluginInfo-Author=Hamza Kamal
X-KDE-PluginInfo-Email=kamal.hamza@outlook.com
X-KDE-PluginInfo-Name=Soft-Focus-Light
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=https://github.com/kamal-hamza/dotfiles
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=CC BY-SA 4.0
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0
