#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "bat"
     "btop"
     "curl"
     "eza"
     "fd"
     "ffmpeg"
     "fzf"
     "git"
     "git-lfs"
     "go"
     "golangci-lint"
     "jless"
     "jq"
     "nvm"
     "openjdk"
     "ripgrep"
     "tmux"
     "xz"
     "clang-format"
     "cmake"
     "eza"
     "lazygit"
     "lua-language-server"
     "make"
     "neovim"
     "php"
     "poetry"
     "pyenv"
     "rust"
     "rustup"
     "tldr"
     "yazi"
     "zoxide"
     "yt-dlp" -}}
{{ $casks := list
     "kitty"
     "spotify"
     "visual-studio-code"
     "vlc"
     "zed"
     "chatgpt"
     "google-chrome"
     "gimp"
     "logi-options+"
     "mactex"
     "obs"
     "ollama"
     "skim"
     "vmware-fusion"
     "wezterm"
     "docker"
     "rapidapi"
     "excalidrawz"
     "whatsapp" -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
