# Base16 {{scheme-name}}
# Scheme author: {{scheme-author}}
# Template author: Hamza Kamal

[theme]
name = "base16-{{scheme-slug}}"
author = "{{scheme-author}}"

[colors]
foreground = "#{{base05-hex}}"
background = "#{{base00-hex}}"

[syntax]
# Comments
"comment" = "#{{base03-hex}}"
"comment.documentation" = "#{{base04-hex}}"

# Constants
"constant" = "#{{base09-hex}}"
"constant.builtin" = "#{{base09-hex}}"
"constant.character" = "#{{base08-hex}}"
"constant.character.escape" = "#{{base0C-hex}}"

# Functions
"function" = "#{{base0D-hex}}"
"function.builtin" = "#{{base0D-hex}}"
"function.method" = "#{{base0D-hex}}"

# Keywords
"keyword" = "#{{base0E-hex}}"
"keyword.control" = "#{{base0E-hex}}"
"keyword.directive" = "#{{base0E-hex}}"
"keyword.function" = "#{{base0E-hex}}"
"keyword.operator" = "#{{base0E-hex}}"

# Operators
"operator" = "#{{base05-hex}}"

# Punctuation
"punctuation" = "#{{base05-hex}}"
"punctuation.bracket" = "#{{base05-hex}}"
"punctuation.delimiter" = "#{{base0F-hex}}"
"punctuation.special" = "#{{base08-hex}}"

# Strings
"string" = "#{{base0B-hex}}"
"string.escape" = "#{{base0C-hex}}"
"string.regex" = "#{{base0C-hex}}"
"string.special" = "#{{base0C-hex}}"

# Types
"type" = "#{{base0A-hex}}"
"type.builtin" = "#{{base0A-hex}}"

# Variables
"variable" = "#{{base05-hex}}"
"variable.builtin" = "#{{base09-hex}}"
"variable.member" = "#{{base08-hex}}"
"variable.parameter" = "#{{base08-hex}}"

# Tags (HTML/XML)
"tag" = "#{{base0A-hex}}"
"attribute" = "#{{base0A-hex}}"

# Markup
"markup.heading" = "#{{base0D-hex}}"
"markup.bold" = { foreground = "#{{base0A-hex}}", modifiers = ["bold"] }
"markup.italic" = { foreground = "#{{base0E-hex}}", modifiers = ["italic"] }
"markup.link" = "#{{base0D-hex}}"
"markup.link.url" = { foreground = "#{{base0C-hex}}", modifiers = ["underline"] }
"markup.raw" = "#{{base0B-hex}}"
"markup.list" = "#{{base08-hex}}"
"markup.quote" = "#{{base0C-hex}}"

# Diff
"diff.plus" = "#{{base0B-hex}}"
"diff.minus" = "#{{base08-hex}}"
"diff.delta" = "#{{base0D-hex}}"

# Git
"git.added" = "#{{base0B-hex}}"
"git.deleted" = "#{{base08-hex}}"
"git.modified" = "#{{base0D-hex}}"

# UI elements
"ui.background" = "#{{base00-hex}}"
"ui.foreground" = "#{{base05-hex}}"
"ui.cursor" = "#{{base05-hex}}"
"ui.cursor.match" = "#{{base0A-hex}}"
"ui.selection" = "#{{base02-hex}}"
"ui.linenr" = "#{{base03-hex}}"
"ui.linenr.selected" = "#{{base04-hex}}"
"ui.statusline" = "#{{base04-hex}}"

# Errors and warnings
"error" = "#{{base08-hex}}"
"warning" = "#{{base0A-hex}}"
"info" = "#{{base0D-hex}}"
"hint" = "#{{base0C-hex}}"