{{ if eq .chezmoi.os "linux" -}}
# Import pywal theme on Linux

{{ else -}}
import = ["{{ .chezmoi.homeDir }}/.cache/wal/colors-yazi.toml"]
# Your personal fallback theme for macOS and Windows
[flavor]
name = "Monochrome"

[manager]
cwd = { fg = "blue", bold = true }

# Border
border_style = { fg = "darkGray" }
border_symbol = ' '
border_hovered = { fg = "white" }

# Highlighting
hovered = { bg = "darkGray", fg = "white" }
preview_hovered = { bg = "darkGray", underline = true }

# Find
find_keyword = { fg = "magenta", bold = true }
find_position = { fg = "magenta", bg = "gray", bold = true, underline = true }

# Marker
marker_selected = { fg = "blue" }
marker_copied = { fg = "yellow" }
marker_cut = { fg = "red" }

# Tab
tab_active = { fg = "white", bg = "blue" }
tab_inactive = { fg = "darkGray", bg = "gray" }
tab_width = 2

# Count
count_copied = { fg = "yellow" }
count_cut = { fg = "red" }

# Selection
selection_bg = "gray"

# Progress
progress_normal = { fg = "blue" }
progress_error = { fg = "red" }

# Preview
preview_title = { fg = "darkGray" }

# Permission
permissions = { others = "darkGray", user = "gray", group = "gray" }

# Symlink
symlink_symbol = "→ "

[filetype]

{{ end -}}
rules = [
    # Images
    { mime = "image/*", fg = "cyan" },
    # Videos
    { mime = "video/*", fg = "magenta" },
    # Audios
    { mime = "audio/*", fg = "magenta" },
    # Archives
    { mime = "application/zip", fg = "red" },
    { mime = "application/x-tar", fg = "red" },
    { mime = "application/x-gzip", fg = "red" },
    { mime = "application/x-bzip2", fg = "red" },
    { mime = "application/x-7z-compressed", fg = "red" },
    { mime = "application/x-rar", fg = "red" },
]
