[Desktop Entry]
Name=Soft Focus Light
Comment=A custom theme that bundles my style and colors.
Type=Service
ServiceTypes=Plasma/LookAndFeel

[X-KDE-PluginInfo]
Author=Hamza Kamal
Email=kamal.hamza@outlook.com
Name=Soft-Focus-Light
Version=1.0
Website=github.com/kamal-hamza/dotfiles.git

# This is the crucial section
[X-KDE-LookAndFeel]
X-KDE-Plasma-Component=Soft-Focus-Light
ColorScheme=colors
Icons=breeze-dark
Cursors=breeze_cursors
WindowDecorations=org.kde.breeze
