{{ if (and (eq .osid "linux-arch") (not .headless)) -}}
#!/bin/bash

set -eufo pipefail

fc-cache

gsettings set org.gnome.desktop.peripherals.touchpad natural-scroll false

# Customize favorite apps (adjust as needed)
gsettings set org.gnome.shell favorite-apps "[ \
    'org.gnome.Nautilus.desktop', \
    'kitty.desktop', \
    'code.desktop', \
    'spotify.desktop', \
    'google-chrome.desktop' \
]"

gsettings set org.gnome.shell.extensions.ding show-home false
gsettings set org.gnome.shell.extensions.ding show-trash false
gsettings set org.gnome.shell.extensions.ding show-volumes false

gsettings set org.gnome.mutter.keybindings switch-monitor "[]"
{{ end -}}
