# Base16 {{scheme-name}}
# Scheme author: {{scheme-author}}
# Template author: Hamza Kamal

# Default statusbar colors
set-option -g status-style "fg=#{{base04-hex}},bg=#{{base01-hex}}"

# Default window title colors
set-window-option -g window-status-style "fg=#{{base04-hex}},bg=#{{base01-hex}}"

# Active window title colors
set-window-option -g window-status-current-style "fg=#{{base0D-hex}},bg=#{{base02-hex}}"

# Pane border
set-option -g pane-border-style "fg=#{{base02-hex}}"
set-option -g pane-active-border-style "fg=#{{base0D-hex}}"

# Message text
set-option -g message-style "fg=#{{base05-hex}},bg=#{{base01-hex}}"

# Pane number display
set-option -g display-panes-active-colour "#{{base0D-hex}}"
set-option -g display-panes-colour "#{{base04-hex}}"

# Clock
set-window-option -g clock-mode-colour "#{{base0D-hex}}"

# Copy mode highlight
set-window-option -g mode-style "fg=#{{base01-hex}},bg=#{{base0A-hex}}"

# Bell
set-window-option -g window-status-bell-style "fg=#{{base01-hex}},bg=#{{base08-hex}}"