#? Config file for btop v1.4.3

{{ if eq .chezmoi.os "linux" -}}
# Pywal theme for Linux
color_theme = "{{ .chezmoi.homeDir }}/.cache/wal/colors.btop"
{{ else -}}
# Fallback theme for other OSes
color_theme = "greyscale"
{{ end -}}
theme_background = false
true_color = true
force_tty = false
presets = "cpu, mem, net, proc"
proc_filter = ""
proc_tree = true
proc_per_core = false
proc_mem_bytes = true
proc_colors = true
proc_gradient = true
proc_sorted_by = "cpu direct"
proc_reversed = true
proc_command = true
cpu_graph_upper = "graph"
cpu_graph_lower = "graph"
cpu_invert_lower = true
cpu_color_gradient = "red, yellow, green, green"
show_cpu_freq = true
cpu_freq_in_bars = false
clock_format = "%H:%M"
clock_color = "fg"
clock_bold = true
show_uptime = true
check_temp = true
temp_scale = "celsius"
temp_color_gradient = "green, yellow, red"
show_coretemp = true
mem_graph_upper = "graph"
mem_graph_lower = "mem"
mem_color_gradient = "green, yellow, red"
mem_graphs_have_swap = true
mem_show_swap_percent = false
swap_color_gradient = "green, yellow, red"
net_graph_upper = "graph"
net_graph_lower = "graph"
net_invert_lower = true
net_color_gradient = "green, yellow, red"
net_sync = false
net_color_tx = "tx"
net_color_rx = "rx"
net_auto_scale = true
net_iface = ""
disks_filter = ""
disks_hide_from_graph = "zram"
disks_color_gradient = "green, yellow, red"
io_mode = false
io_graph_upper = "graph"
io_graph_lower = "graph"
io_invert_lower = true
io_color_gradient = "green, yellow, red"
io_graphs_per_disk = true
update_ms = 2000
log_level = "WARNING"
